{% extends 'calc/index.html' %}
{% block content %}
    <div class="container mt-3 mb-3">
        <div class="card card-body">
            <p>Как рассчитать гидравлическую программу бурения скважин?</p>
            <p>Очень просто!</p>
            <ol>
                <li>
                    Создайте(если еще не создавали) аккаунт и войдите в него.
                </li>
                <li>
                    Перейдите по ссылке "Рассчитать параметры" в меню.
                </li>
                <li>
                    Введите параметры бурения и нажмите "Рассчитать параметры" внизу формы.
                </li>
                <li>
                    Наслаждайтесь(или нет) результатами.
                </li>
            </ol>
            <p>
                <span class="badge badge-success">!</span> - вы можете вернуться к прошлым результатам расчёта в разделе "История расчётов".
            </p>
        </div>
    </div>
{% endblock %}